/*importa fontes do google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/*reseta todas as configurações padrões*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

/*Muda o fundo*/
.body {
    background-color: #0000ff;
}

/*modificação do conteúdo principal (main)*/
.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 5%;
}

/*modificação do conteúdo do login*/
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 490px;
    background-color: #9491e292;
    backdrop-filter: blur(7px);
    border-radius: 20px;
    /*Sombra*/
    -webkit-box-shadow: -1px 25px 47px 20px rgba(0,0,0,0.21);
    -moz-box-shadow: -1px 25px 47px 20px rgba(0,0,0,0.21);
    box-shadow: -1px 25px 47px 20px rgba(0,0,0,0.21);
}

/*Modificação do título pelo ID*/
#titulo-login {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
    color: #FFF2E7;
    font-size: 40px;
    padding-bottom: 5%;
    padding-top: 5%;
}

/*Muda a label de usuario, senha e checkbox*/
.usuario-label, .senha-label, .checkbox-label, 
.password-label, .pais-label, .radio-label, .email-label {
    width: 65%;
    margin: 0.5%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal; 
    color: #FFF2E7;
}

#hom, #mul, #out {
    font-family: "Roboto", sans-serif;
    font-size: 80%;
    font-style: normal; 
    color: #FFF2E7;
}

.pais-input {
    display: flex;    
    border: none;
    border-radius: 20px;
    width: 30%;
    margin: 5px;
    padding: 1.5%;
}

/*Modifica as caixas de input de usuario e senha*/
.usuario-input, .senha-input, .email-input {
    border: none;
    border-radius: 20px;
    width: 65%;
    margin: 5px;
    padding: 1.5%;
}

/*Muda a caixa de checkbox*/
.checkbox-input {
    width: 15px;
    height: 15px;
    margin-right: 6px;
  }

#senha {
    text-decoration: underline;
    cursor: pointer;
  }

.botao {
    padding: 4px;
    width: 25%;
    margin: auto;
    font-size: medium;
    border-radius: 20px;
    border: none;
    background-color: #ff9500;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }

